@model Auto_Insurance_Management_System.ViewModels.PolicyDetailsViewModel
@{
    ViewData["Title"] = "Policy Details";
}

<h1>Policy Details</h1>

<div>
    <h4>Policy Details for @Model.PolicyNumber</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.PolicyNumber)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PolicyNumber)
        </dd>
        <dt class="col-sm-3">
            Customer Name
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.VehicleMake)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.VehicleMake)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.VehicleModel)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.VehicleModel)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.VehicleYear)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.VehicleYear)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.LicensePlate)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.LicensePlate)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CoverageType)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CoverageType)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CoverageAmount)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CoverageAmount)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.PremiumAmount)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PremiumAmount)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-9">
            @Model.StartDate.ToString("dd/MM/yyyy")
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-9">
            @Model.EndDate.ToString("dd/MM/yyyy")
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.PolicyStatus)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PolicyStatus)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PolicyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>